* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth; 
}

#section1 {
  height: 700px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}

/* Section 2: Bubbles background */
#section2 {
  height: 100vh;
  background-color: #f0f8ff; /* Light color for bubbles */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('photo/Modern-house.jpg'); /* Bubble background */
  background-size: cover;
  background-position: center;
}

/* Clickable bubble button */
#scrollButton {
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 50%;
}

/* Section 3: Reviews Grid */
#section3 {
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  background-color: #f5f5f5; /* Light grey background */
}

/* Review cards */
.info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 35px;
}

.X{
  color: rgb(255, 255, 255);
  text-shadow:
  4px 4px 6px black,  
  0px 0px 0px black, 
  4px 4px 6px black, 
  0px 0px 0px black

}

.title{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 79px;
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 40%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   /*Cambria, Cochin, Georgia, Times, 'Times New Roman', serif*/
}

.title{
  width: 100%;
  filter: drop-shadow(0px 45px 17px rgb(16, 16, 16));
}
.title-lower{
  color: rgb(0, 0, 0);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  font-size: 25px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 65%;
}
.title-lower{
  width: 100%;
  filter: drop-shadow(0 45px 13px rgb(16, 16, 16))
}
